body {
    margin: 0;
}

.App {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.title {
    color: yellow;
    font-size: 50px;
    font-weight: bolder;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 1000px;
    height: fit-content;
}

.card {
    width: 200px;
    height: 200px;

}

.card--image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgb(255, 255, 255);
    transition: 300ms;
}

.card--image:hover {
    transition: 300ms;
    box-shadow: 0 0px 30px rgb(229, 255, 0);
}

.score {
    display: flex;
    flex-direction: column;
}

.score--text {
    font-weight: bold;
    font-size: 25px;
    color: yellow;
}